@model AddEditLandmarkBindingModel
<form method="post">
    @Html.FormGroupFor(m => m.Name)
    @Html.SelectItemFor(m => m.CategoryId, Model.Categories)
    @Html.SelectItemFor(m => m.RegionId, Model.Regions)
    <button type="submit" class="btn btn-indigo">Add Landmark</button>
    <a asp-page="/Index" class="btn btn-light-blue">Cancel</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
