@page
@using Landmarks.Common.Resources.Admin
@using Landmarks.Web.Areas.Admin.Pages.Category
@model AddModel
@{
    ViewData["Title"] = "Add";
}

<div class="container container-fluid text-center">
    <h2>@Category.lblAddCategory</h2>

    @Html.EditorFor(m => m.AddCategoryBindingModel)
</div>
