@page
@model Landmarks.Web.Areas.Admin.Pages.Category.AddModel

@using Microsoft.Extensions.Localization
@{
    ViewData["Title"] = "Add";
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Category.AddModel> localizer;
}

<div class="container container-fluid text-center">
    <h2>@localizer["lblAddCategory"]</h2>
    <form method="post">
        @Html.EditorFor(m => m.AddCategoryBindingModel)
        <button type="submit" class="btn btn-indigo">@localizer["btnAddCategory"]</button>
        <a asp-page="/Index" class="btn btn-light-blue">@localizer["btnBack"]</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}