@page
@model Landmarks.Web.Areas.Admin.Pages.Category.AddModel
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Category.AddModel> Localizer

@{
   ViewData["Title"] =Localizer["lblAddCategory"];
}

<div class="container container-fluid text-center">
    <h2>@Localizer["lblAddCategory"]</h2>
    <form method="post">
        @Html.EditorFor(m => m.AddCategoryBindingModel)
        <button type="submit" class="btn btn-indigo">@Localizer["btnAddCategory"]</button>
        <a asp-page="/Index" class="btn btn-light-blue">@Localizer["btnBack"]</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}