@page
@model Landmarks.Web.Areas.Admin.Pages.Category.AddModel
@{
    ViewData["Title"] = "Add";
}

<div class="container container-fluid text-center">
    <h2>@Category.lblAddCategory</h2>
    <form method="post">
        @Html.EditorFor(m => m.AddCategoryBindingModel)
        <button type="submit" class="btn btn-indigo">Add Category</button>
        <a asp-page="/Index" class="btn btn-light-blue">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}