@page "{id}"
@using Landmarks.Web.Areas.Admin.Pages.Category
@model EditModel

<div class="container container-fluid text-center">
    <h2>Edit category</h2>

    @Html.EditorFor(m => m.EditCategoryBindingModel)
</div>