@page "{id}"
@model Landmarks.Web.Areas.Operator.Pages.Landmark.EditModel
@inject IStringLocalizer<Landmarks.Web.Areas.Operator.Pages.Landmark.EditModel> Localizer;

@{
    ViewData["Title"] = Localizer["lblEditLandmark"]; 
}

<div class="container container-fluid text-center">
    <h2>@Localizer["lblEditLandmark"]</h2>

    <form method="post" enctype="multipart/form-data">
        @Html.EditorFor(m => m.EditLandmarkBindingModel)
        <button type="submit" class="btn btn-dark-green">@Localizer["lblAddLandmark"]</button>
        <a asp-page="/Index" class="btn btn-light-green">@Localizer["btnBack"]</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}