@page
@using Landmarks.Common.Resources.Admin
@model Landmarks.Web.Areas.Admin.Pages.Landmark.AddModel
@{
    ViewData["Title"] = "Add";
}
<div class="container container-fluid text-center">
    <h2>@Landmark.lblAdd</h2>

    @Html.EditorFor(m => m.AddRegionBindingModel)
</div>
