@page
@using Microsoft.Extensions.Localization
@model Landmarks.Web.Areas.Admin.Pages.Landmark.AddModel
@{
    ViewData["Title"] = "Add";
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Landmark.AddModel> localizer;
}


<div class="container container-fluid text-center">
    <h2>@localizer["lblAddLandmark"]</h2>
    <form method="post">
        @Html.EditorFor(m => m.AddLandmarkBindingModel)
        <button type="submit" class="btn btn-indigo">@localizer["btnAddLandmark"]</button>
        <a asp-page="/Index" class="btn btn-light-blue">@localizer["btnBack"]</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
