@page "{id}"
@model Landmarks.Web.Areas.Admin.Pages.Landmark.EditModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Landmark.EditModel> localizer;

<div class="container container-fluid text-center">
    <h2>@localizer["lblEditLandmark"]</h2>

    <form method="post">
        @Html.EditorFor(m => m.EditLandmarkBindingModel)
        <button type="submit" class="btn btn-indigo">@localizer["lblAddLandmark"]</button>
        <a asp-page="/Index" class="btn btn-light-blue">@localizer["btnBack"]</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}