@page "{id}"
@using Landmarks.Common.Resources.Admin
@using Landmarks.Web.Areas.Admin.Pages.Landmark
@model EditModel

<div class="container container-fluid text-center">
    <h2>@Landmark.lblEdit</h2>

    @Html.EditorFor(m => m.EditLandmarkBindingModel)
</div>