@page
@using Landmarks.Common.Resources.Admin
@model Landmarks.Web.Areas.Admin.Pages.Region.AddModel
@{
    ViewData["Title"] = "Add";
}
<div class="container container-fluid text-center">
    <h2>@Common.lblAddRegion</h2>
    @Html.EditorFor(m => m.AddRegionBindingModel)
</div>
