@page
@model Landmarks.Web.Areas.Admin.Pages.Region.AddModel
@{
    ViewData["Title"] = "Add";
}
<div class="container container-fluid text-center">
    <h2>Add region</h2>
    @Html.EditorFor(m => m.AddRegionBindingModel)
</div>
