@page "{id}"
@model Landmarks.Web.Areas.Admin.Pages.Category.EditModel

<div class="container container-fluid text-center">
    <h2>Edit region</h2>

    @Html.EditorFor(m => m.EditCategoryBindingModel)
</div>
