@model LandmarksByCategoryViewModel

<section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5">@Html.DisplayFor(model => model.Name)</h2>
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5"></p>
    @Html.DisplayFor(m => m.Landmarks)
</section>
