
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="container container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-area="Admin" asp-page="/Category/Add" class="nav-link">Add Category</a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-page="/Category/List" class="nav-link">Categiories</a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-page="/Region/Add" class="nav-link">Add Region</a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-page="/Region/List" class="nav-link">Regions</a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-page="/Landmark/Add" class="nav-link">Add Landmark</a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-page="/Landmark/List" class="nav-link">Landmarks</a>
        </li>
    </ul>
</div>
