@inject IStringLocalizer<Landmarks.Web.Areas.Operator.Controllers.HomeController> Localizer;

<div class="row flex-center">
    <div class="card col col-md-4">
        <img class="card-img-top" src="/images/admin-landmark.jpg" alt="Card image cap" style="height: 270px">
        <div class="card-body">
            <h4 class="card-title">@Localizer["btnTitleLandmark"]</h4>
            <p class="card-text">@Localizer["descLandmark"]</p>
            <div class="row">
                <a asp-area="Operator" asp-page="/Landmark/Add" class="btn btn-outline-success"><span class="text-black-50">@Localizer["lblAddLandmark"]</span></a>
                <a asp-area="Operator" asp-page="/Landmark/List" class="btn btn-outline-info"><span class="text-black-50">@Localizer["lblAllLandmark"]</span></a>
            </div>
        </div>
    </div>
</div>
